@import "./../../common/scss/variables";
.main-block {
    transition: padding 0.5s;
    &_padding {
        padding-top: 60px;
        padding-left: 70px;
        @media (max-width: 991.9px) {
            padding-left: 0;
        }
    }
}

.adding-item-page_adding-conf {
    justify-content: flex-start;
}

.main-form {
    box-sizing: border-box;
    @media (max-width: 575.9px) {
        width: 100vw;
    }
}

.form_adding-config {
    margin-top: 3.5vh;
    margin-bottom: 3vh;
    padding: 31px 36px 36px 36px;
    @media (max-width: 991.9px) {
        margin-top: 30px;
        margin-bottom: 36px;
        padding: 24px 18px 31px 20px;
    }
    @media (max-width: 575.9px) {
        margin-top: 24px;
        margin-bottom: 22px;
        padding: 26px 20px 22px 20px;
    }
}

.grid {
    box-sizing: border-box;
    @include grid (1fr, auto auto auto, 1.6vw, 25px);
    @media (max-width: 575.9px) {
        @include grid (1fr, auto, auto, 22px);
        padding-right: 0;
    }
}