//-
//- Верстка данного трека должна быть реализована в файле ../html/track1.html
//- Файлы *.pug предназначены для компиляции итоговых файлов треков.
//-
//- The markyp of this track should be implemented in ../html/track1.html
//- *.pug files are only for compilation of outcome track files
//-

extends ../../common/pug/_wrapper

block trackContent
    include ../html/track-requests-handled.html
