@import "./../../common/scss/variables";
.all-items-table-header_all-releases {
    @include grid (57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 28px, auto, 0, 0);
    @media (max-width: 991.9px) {
        @include grid (57px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 28px, auto, 0, 0);
        padding-left: 36px;
        padding-right: 36px;
    }
}

.all-items-table-row_all-releases {
    @include fontSize(14, 20, 400);
    @include grid (57px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 28px, auto, 0, 0);
    @media (max-width: 991.9px) {
        @include grid (57px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 28px, auto, 0, 0);
    }
    .all-items-table-row__cell {
        &:first-child::after,
        &:last-child::after,
        &:nth-last-child(2)::after {
            border-right: 1px solid transparent;
        }
        &:nth-child(2) {
            cursor: pointer;
        }
    }
}

.errors {
    display: none;
}