@import "./../../common/scss/variables";
.all-items-table-header_all-singers {
    @include grid (57px 1.5fr 1fr 1fr 1fr 1fr 1.1fr 28px, auto, 0, 0);
    @media (max-width: 991.9px) {
        @include grid (57px 150px 120px 120px 120px 120px 120px 28px, auto, 0, 0);
        padding-left: 36px;
        padding-right: 36px;
    }
}

.all-items-table-row_all-singers {
    @include grid (57px 1.5fr 1fr 1fr 1fr 1fr 1.1fr 28px, auto, 0, 0);
    @media (max-width: 991.9px) {
        @include grid (57px 150px 120px 120px 120px 120px 120px 28px, auto, 0, 0);
    }
    .all-items-table-row__cell {
        &:first-child::after,
        &:last-child::after,
        &:nth-last-child(2)::after {
            border-right: 1px solid transparent;
        }
    }
}

.errors {
    display: none;
}