@import "./../../common/scss/variables";
.item-cover-and-name_singer {
    @include grid(auto 1fr auto, auto, 1.625vw, 0);
    @media (max-width: 991.9px) {
        @include grid (auto 1fr, auto, 26px, 14px);
    }
    @media (max-width: 575.9px) {
        margin-left: 0;
        margin-right: 0;
        @include grid (84px auto, auto, 26px, 14px);
    }
}

.item-name_singer {
    @media (max-width: 991.9px) {
        grid-row: 1/2;
        grid-column: 2/3;
    }
}

.item-buttons_singer {
    @media (max-width: 991.9px) {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}

.tabs_singer {
    @include grid(auto auto auto, auto, 2.625vw, 0);
    align-items: baseline;
    @media (max-width: 575.9px) {
        width: 100%;
        @include grid(auto auto auto, auto, 42px, 0);
    }
}

.add-release,
.add-track {
    border: none;
    width: 155px;
    height: 36px;
    &__img {
        margin-right: 10.8px;
    }
    &__text {
        @include fontSize(13, 16, 400);
    }
    @media (max-width: 575.9px) {
        display: none;
    }
}

.add-release {
    margin-right: 18px;
}

.singer-info {
    @include fontSize(14, 20, 400);
    &_padding {
        padding: 4.7vh 1.6vw 3.5vh 2.9vw;
        @media (max-width: 991.9px) {
            padding: 34px 21px 31px 12px;
        }
        @media (max-width: 575.9px) {
            padding: 0 0 31px 0;
        }
    }
    &_margin {
        margin-left: 2.3vw;
        margin-right: 2.3vw;
        @media (max-width: 991.9px) {
            margin-left: 0;
            margin-right: 0;
        }
        @media (max-width: 575.9px) {
            margin-bottom: 38px;
        }
    }
    @media (max-width: 991.9px) {
        border-radius: 0;
    }
}

.singer-main-info {
    box-sizing: border-box;
    @include grid (1fr 1fr 1fr, auto auto auto auto, 3.3vw, 2.3vh);
    border-bottom: 1px solid $line;
    &_padding {
        padding-bottom: 2.8vh;
        @media (max-width: 575.9px) {
            padding: 18px 13px 34px 13px;
        }
    }
    @media (max-width: 991.9px) {
        @include grid (1fr 1fr, auto, 0, 15px);
    }
    @media (max-width: 575.9px) {
        @include grid (1fr, auto auto auto auto auto auto auto, 0, 0);
    }
}

.info__title {
    padding: 8px 17px 8px 22px;
    grid-column: 1/4;
    grid-row: 1/2;
    font-weight: 700;
    @media (max-width: 991.9px) {
        grid-column: 1/4;
        grid-row: 1/2;
        padding: 8px 11px 8px 11px;
    }
    @media (max-width: 575.9px) {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.info-cell {
    display: flex;
    flex-direction: column;
    padding: 8px 17px 8px 22px;
    @media (max-width: 991.9px) {
        padding: 8px 11px 8px 11px;
    }
    @media (max-width: 575.9px) {
        grid-column: 1/2;
        @include grid (1fr 1fr, auto, 0, 14px);
        align-content: e;
    }
    &_wide {
        grid-column: 1/4;
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        @media (max-width: 991.9px) {
            padding: 0;
            padding-top: 36px;
            padding-bottom: 8px;
            border-top: 1px solid $line;
        }
        @media (max-width: 575.9px) {
            grid-column: 1/2;
            @include grid (1fr, auto, 0, 14px);
            margin-top: 26px;
        }
    }
    &_gray {
        border-radius: 12px;
        background-color: $main-bg;
    }
    &_margin {
        margin-right: 33px;
    }
    &__title {
        color: $textsecondary;
        &_profit {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media (max-width: 575.9px) {
                justify-content: flex-start;
                //padding-left: 11px;
                height: 100%;
            }
        }
        &_padding {
            padding-left: 22px;
            @media (max-width: 575.9px) {
                padding-left: 11px;
            }
        }
    }
    &__text {
        &_green {
            color: $green;
        }
        &_bold {
            font-weight: 700;
        }
        &_right {
            justify-self: end;
        }
        &_padding {
            padding-left: 35px;
        }
        &_profit {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
        }
        @media (max-width: 575.9px) {
            align-self: flex-end;
        }
    }
    &__links {
        @include grid(1fr 1fr 1fr, 22px 22px 22px, 3.75vw, 1vh);
        grid-auto-flow: column;
        padding-bottom: 8px;
        @media (max-width: 991.9px) {
            @include grid(37.1vw 37.1vw, 22px 22px 22px, 8.6vw, 1vh);
        }
        @media (max-width: 575.9px) {
            @include grid(1fr, 22px 22px 22px 22px 22px, 0, 1vh);
        }
    }
}

.social-link {
    padding-left: 11px;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $green;
    text-decoration: none;
    &__img {
        margin-right: 15px;
        width: 18px;
        height: 18px;
    }
}

.created-and-changed {
    grid-column: 1/4;
    @include grid (1fr 1fr 1fr, auto, 3.3vw, 0);
    @media (max-width: 991.9px) {
        @include grid (37.1vw 37.1vw, auto, 8.6vw, 0);
    }
    @media (max-width: 575.9px) {
        @include grid (1fr, auto, 0, 14px);
        .info-cell {
            @include grid (1fr, auto, 0, 14px);
        }
        margin-top: 22px;
    }
}

.singer-profit-info {
    @include grid (1fr, auto, 0, 1.5vh);
    &_margin {
        margin-top: 4vh;
    }
    @media (max-width: 575.9px) {
        @include grid (1fr, auto, 0, 0);
    }
}

.singer-profit-info-grid {
    @include grid (1fr 1fr, auto, 22px, 0);
    @media (max-width: 575.9px) {
        @include grid (1fr, auto, 0, 0);
    }
}

.profit-info-title {
    font-weight: 700;
    @media (max-width: 575.9px) {
        padding-left: 20px;
        margin-bottom: 25px;
    }
}

.profit-info-cell {
    height: 34px;
    @include grid (1fr 1fr, auto, 0, 0);
    @media (max-width: 991.9px) {
        @include grid (185px auto, auto, 0, 0);
    }
    &_margin {
        margin-bottom: 15px;
    }
    &_margin-left {
        @media (max-width: 575.9px) {
            margin-left: 7px;
        }
    }
    @media (max-width: 575.9px) {
        padding: 7px 16px 8px 13px;
        height: auto;
        @include grid (1fr 1fr, 1fr, 0, 0);
        align-items: stretch;
    }
}

.marked-title {
    height: 100%;
    background-color: $main-bg;
    border-radius: 12px 0 0 12px;
    position: relative;
    @include flexCenter(row);
    padding-left: 20px;
    z-index: 1;
    &::after {
        content: " ";
        background-color: $main-bg;
        width: 60px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 99%;
        z-index: 0;
    }
    @media (max-width: 575.9px) {
        padding-left: 11px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

.marked-text {
    @include flexCenter(row);
    height: 100%;
    background-color: $main-bg;
    border-radius: 0 12px 12px 0;
    z-index: 1;
    padding-right: 16px;
    @media (max-width: 575.9px) {
        padding-right: 16px;
        padding-top: 7px;
        padding-bottom: 7px;
        align-items: flex-end;
    }
}

// .singer-releases {
//     flex: 1 0 auto;
//     overflow: auto;
//     position: relative;
//     @include grid (1fr,
//     1fr auto,
//     0,
//     0);
// }
// .singer-releases-table {
//     align-self: flex-start;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     @include grid(1fr,
//     auto,
//     0,
//     10px);
//     @media (max-width: 991.9px) {
//         max-width: 98vw;
//     }
//     @media (max-width: 575.9px) {
//         display: none;
//     }
//     &_padding {
//         padding-bottom: 30px;
//         padding-right: 2.3vw;
//         padding-left: 2.3vw;
//     }
// }
// .sort-arrow {
//     display: inline-block;
//     margin-left: 4px;
//     margin-bottom: 2px;
// }
// .releases-table-header {
//     @include fontSize(13,
//     18,
//     500);
//     color: $textsecondary;
//     @include grid (57px 2.2fr 1.5fr 1fr 1fr 1.1fr 28px,
//     auto,
//     0,
//     0);
//     align-items: flex-end;
//     padding-right: 11px;
//     padding-left: 11px;
//     @media (max-width: 991.9px) {
//         @include grid (57px 40.9vw 27.2vw 18.3vw 18.3vw 20.1vw 28px, auto, 0, 0);
//     }
//     &__cell {
//         padding-left: 1.6vw;
//         &_padding {
//             padding-left: 16px;
//         }
//         &_black {
//             color: $black;
//         }
//     }
// }
// .releases-table-row-wrapper {
//     padding: 11px;
//     &:hover {
//         @include cardElevationHover();
//         z-index: 10;
//     }
// }
// .releases-table-row {
//     @include fontSize(14,
//     20,
//     400);
//     @include grid (57px 2.2fr 1.5fr 1fr 1fr 1.1fr 28px,
//     auto,
//     0,
//     0);
//     align-items: center;
//     @media (max-width: 991.9px) {
//         @include grid (57px 40.9vw 27.2vw 18.3vw 18.3vw 20.1vw 28px, auto, 0, 0);
//     }
//     &__cell {
//         position: relative;
//         height: 100%;
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//         padding: 11px 9px 11px 1.6vw;
//         @media (max-width: 991.9px) {
//             padding: 11px 9px 11px 16px;
//         }
//         &_cover {
//             padding: 5px 0 5px 5px;
//             @include flexCenter(row);
//             background: url("./../images/no_cover_track.svg") no-repeat 50% 50%;
//             height: 64px;
//         }
//         &_no-padding {
//             padding: 0;
//             @media (max-width: 991.9px) {
//                 padding: 0;
//             }
//         }
//         &_green {
//             color: $green;
//         }
//         &_gray {
//             color: $textsecondary;
//         }
//         &_bold {
//             font-weight: 700;
//         }
//         &::after {
//             position: absolute;
//             content: '';
//             top: 11.5%;
//             bottom: 11.5%;
//             right: 0px;
//             height: 77%;
//             border-right: 1px solid $line;
//             width: 2px;
//         }
//         &:first-child::after,
//         &:last-child::after,
//         &:nth-child(6)::after {
//             border-right: 1px solid transparent;
//         }
//         &:nth-child(2) {
//             cursor: pointer;
//         }
//     }
// }
// .singer-releases-table-mobile {
//     display: none;
//     @media (max-width: 575.9px) {
//         height: 100%;
//         width: 100vw;
//         @include grid(1fr,
//         1fr auto,
//         0,
//         0);
//     }
// }
// .rows-block {
//     @include grid(1fr,
//     auto,
//     0,
//     14px);
//     align-content: flex-start;
//     margin-bottom: 20px;
// }
// .singer-tracks {
//     flex: 1 0 auto;
//     overflow: auto;
//     position: relative;
//     @include grid (1fr,
//     1fr auto,
//     0,
//     0);
// }
// .singer-tracks-table {
//     align-self: flex-start;
//     width: 100%;
//     overflow-x: auto;
//     -webkit-overflow-scrolling: touch;
//     @include grid(1fr,
//     auto,
//     0,
//     10px);
//     @media (max-width: 991.9px) {
//         max-width: 98vw;
//     }
//     @media (max-width: 575.9px) {
//         width: auto;
//     }
//     &_padding {
//         padding-bottom: 30px;
//         padding-right: 2.3vw;
//         padding-left: 2.3vw;
//     }
// }
// .tracks-table-header {
//     @include fontSize(13,
//     18,
//     500);
//     color: $textsecondary;
//     @include grid (57px 1.3fr 1.3fr 1.3fr 1fr 1fr 1fr 1fr 1fr 1fr 28px,
//     auto,
//     0,
//     0);
//     align-items: flex-end;
//     padding-right: 11px;
//     padding-left: 11px;
//     @media (max-width: 991.9px) {
//         @include grid (57px 150px 150px 150px 100px 100px 100px 100px 100px, auto, 0, 0);
//     }
//     &__cell {
//         cursor: pointer;
//         padding-left: 1vw;
//         &_black {
//             color: $black;
//         }
//     }
// }
// .tracks-table-row-wrapper {
//     padding: 11px;
//     &:hover {
//         @include cardElevationHover();
//         z-index: 10;
//     }
// }
// .tracks-table-row {
//     @include fontSize(14,
//     20,
//     400);
//     @include grid (57px 1.3fr 1.3fr 1.3fr 1fr 1fr 1fr 1fr 1fr 1fr 28px,
//     auto,
//     0,
//     0);
//     align-items: center;
//     @media (max-width: 991.9px) {
//         @include grid (57px 150px 150px 150px 100px 100px 100px 100px 100px 28px, auto, 0, 0);
//     }
//     &__cell {
//         position: relative;
//         height: 100%;
//         padding: 11px 9px 11px 1vw;
//         @media (max-width: 991.9px) {
//             padding: 11px 9px 11px 16px;
//         }
//         &_cover {
//             padding: 5px 0 5px 5px;
//             @include flexCenter(row);
//             background: url("./../images/no_cover_track.svg") no-repeat 50% 50%;
//             height: 64px;
//         }
//         &_no-padding {
//             padding: 0;
//             @media (max-width: 991.9px) {
//                 padding: 0;
//             }
//         }
//         &_green {
//             color: $green;
//         }
//         &gray {
//             color: $textsecondary;
//         }
//         &_bold {
//             font-weight: 700;
//         }
//         &::after {
//             position: absolute;
//             content: '';
//             top: 11.5%;
//             bottom: 11.5%;
//             right: 0px;
//             height: 77%;
//             border-right: 1px solid $line;
//             width: 2px;
//         }
//         &:first-child::after,
//         &:last-child::after,
//         &:nth-last-child(2)::after {
//             border-right: 1px solid transparent;
//         }
//         &:nth-child(2) {
//             cursor: pointer;
//         }
//     }
// }
// .cell-text {
//     text-decoration: none;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     display: -moz-box;
//     -moz-box-orient: vertical;
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 1;
//     line-clamp: 1;
//     box-orient: vertical;
//     &_2rows {
//         -webkit-line-clamp: 2;
//         line-clamp: 2;
//     }
// }
// .singer-tracks-table-mobile {
//     display: none;
//     // @media (max-width: 575.9px) {
//     //     flex: 1 0;
//     //     @include grid(1fr,
//     //     auto,
//     //     0,
//     //     14px);
//     // }
// }
.popup-singer {
    display: none;
    @include fontSize(14, 20, 400);
    padding: 0;
    z-index: 200;
    @media (max-width: 575.9px) {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(118, 137, 137, 0.5);
        text-align: center;
    }
    &-menu {
        @keyframes translating {
            from {
                transform: translateY(100%);
            }
            to {
                transform: translateY(0);
            }
        }
        transition: all 0.5s;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 12px 12px 0 0;
        outline: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        &__header {
            background-color: $main-bg;
            height: 38px;
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
            border-radius: 12px 12px 0 0;
        }
    }
    &__close {
        color: $textsecondary;
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        &:hover {
            color: $black;
            text-decoration: none;
            cursor: pointer;
        }
    }
    &-buttons {
        @include grid(1fr, 44px 44px 44px 54px 74px, 0, 0);
        justify-items: start;
    }
    &-button {
        width: 100%;
        -webkit-tap-highlight-color: transparent;
        @include flexCenter(row);
        justify-content: flex-start;
        padding: 0;
        &__text {
            display: inline;
            @include fontSize(13, 16, 400);
            margin-left: 12px;
        }
        &__img {
            height: 18px;
            width: 18px;
            margin-left: 20px;
        }
        &:nth-child(4),
        &:last-child {
            background: $main-gradient;
        }
        &:last-child {
            margin-top: 20px;
        }
    }
}

//#singer-info,
#singer-releases,
#singer-tracks {
    display: none;
}