@import "./../../common/scss/common";
@import "./../../common/scss/normalize";
@import "./../../common/scss/variables";
@import "./../../common/scss/sidebar";
@import "./../../common/scss/font";
@import "./../../common/scss/header";
@import "./../../common/scss/form";
@import "./../../common/scss/nice-select";
@import "./../../common/scss/preloader";
.main-block {
    transition: padding 0.5s;
    &_padding {
        padding-top: 60px;
        padding-left: 70px;
        @media (max-width: 991.9px) {
            padding-left: 0;
        }
    }
}

.contract-info {
    flex: 1 0 auto;
    width: 100%;
    &_padding {
        padding-top: 4vh;
        padding-bottom: 4.625vh;
        @media (max-width: 575.9px) {
            padding: 0;
        }
    }
}

.contract-info-header {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
    @include grid (auto 1fr 1fr, auto, 3.4vw, auto);
    align-items: baseline;
    &__title {
        @include fontSize(20, 26, 600);
        grid-column: 1/2;
        grid-row: 1/2;
    }
    &_margin {
        margin-bottom: 4vh;
        margin-right: 2.25vw;
        margin-left: 2.25vw;
        @media (max-width: 991.9px) {
            margin-bottom: 15px;
        }
        @media (max-width: 575.9px) {
            margin-right: 0;
            margin-left: 0;
        }
    }
    &_padding {
        padding-right: 36px;
        padding-left: 36px;
        @media (max-width: 575.9px) {
            padding: 13px 20px 15px 20px;
        }
    }
    @media (max-width: 991.9px) {
        width: 100%;
        @include grid (1fr 1fr, 1fr auto, auto, 15px);
    }
    @media (max-width: 575.9px) {
        @include grid (1fr 1fr, 1fr auto, auto, 15px);
        width: 100vw;
    }
}

.tabs {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &__tab {
        color: $textsecondary;
        white-space: nowrap;
        text-decoration: none;
        &_active {
            color: $black;
        }
    }
    @include grid (min-content min-content min-content, 26px, 42px, 0);
    @media (max-width: 991.9px) {
        grid-row: 2/3;
        grid-column: 1/3;
    }
    &-small-grid {
        @include grid(min-content 18px, 26px, 13px, 0);
        text-decoration: none;
        &_active {
            color: $black;
        }
    }
    &_margin {
        margin-left: 36px;
        @media (max-width: 991.9px) {
            margin-left: 0;
        }
    }
    &__tab_margin {
        margin-right: 44px;
        @media (max-width: 575.9px) {
            margin-right: 43px;
        }
    }
    @media (max-width: 575.9px) {
        width: 100%;
    }
}

.search-table {
    position: relative;
    width: 100%;
    text-align: right;
    transition: all 0.5s;
    @media (max-width: 575.9px) {
        text-align: right;
    }
    &__input {
        background-color: $white;
        transition: width 0.5s;
        border-radius: 12px;
        height: 46px;
        border: 1px solid transparent;
        padding-left: 54px;
        @include fontSize(13, 16, 400);
        width: 244px;
        &:focus,
        &:active {
            @include focusInput();
            width: 100%;
            z-index: 100;
        }
        /*убираем крестик*/
        &::ms-clear,
        &::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
        }
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }
        @media (max-width: 991.9px) {
            width: 88px;
            height: 30px;
            padding-left: 10px;
            &:focus,
            &:active {
                @include focusInput();
                width: 100%;
                z-index: 100;
            }
        }
        @media (max-width: 575.9px) {
            width: 34px;
            height: 30px;
            padding-left: 34px;
            &:focus,
            &:active {
                @include focusInput();
                width: 100vw;
                z-index: 100;
            }
        }
    }
    &__button {
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        width: 46px;
        height: 46px;
        position: absolute;
        border: 1px solid transparent;
        background-color: transparent;
        right: 0px;
        top: 0px;
        &:focus,
        &:active {
            @include focusInput();
            border: 1px solid transparent;
            border-radius: 5px;
        }
        @media (max-width: 991.9px) {
            width: 30px;
            height: 30px;
        }
        @media (max-width: 575.9px) {
            display: none;
        }
    }
    &__clear {
        display: none;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0px;
        top: 0px;
        justify-content: center;
        align-items: center;
    }
    &__button-mobile {
        display: none;
        @media (max-width: 575.9px) {
            @include flexCenter(row);
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
            width: 34px;
            height: 30px;
            position: absolute;
            border: 1px solid transparent;
            background-color: transparent;
            right: 0px;
            top: 0px;
            &:focus,
            &:active {
                @include focusInput();
                border: 1px solid transparent;
                border-radius: 5px;
            }
        }
    }
}

.contract-info-block {
    @include grid (21.5vw 1fr 14vw, auto 230px auto, 4.5vw, 3.25vh);
    @include fontSize(14, 20, 400);
    &_padding {
        padding: 5.5vh 6vw 5.5vh 4.7vw;
        @media (max-width: 991.9px) {
            padding: 34px 70px 31px 12px;
        }
        @media (max-width: 575.9px) {
            padding: 0 0 31px 0;
        }
    }
    &_margin {
        margin-left: 2.3vw;
        margin-right: 2.3vw;
        @media (max-width: 991.9px) {
            margin-left: 0;
            margin-right: 0;
        }
        @media (max-width: 575.9px) {
            margin-bottom: 38px;
        }
    }
    @media (max-width: 991.9px) {
        border-radius: 0;
        @include grid (1fr 1fr, auto auto 220px auto, 65px, 14px);
    }
}

.grid-cell {
    // border: 1px dashed #000;
    &_requisites {
        grid-column: 2/span 2;
        @media (max-width: 991.9px) {
            grid-column: 1/span 2;
        }
    }
    justify-content: flex-start;
}

.info-cell {
    //border: 1px solid lightgreen;
    display: inline-block;
    box-sizing: border-box;
    @media (max-width: 991.9px) {
        //@include grid (1fr 1fr, auto, 0, 0);
    }
    &_requisites {
        height: 100%;
        @media (max-width: 991.9px) {
            margin-right: 55px;
        }
    }
    &_gray {
        border-radius: 12px;
        background-color: $main-bg;
    }
    &__title {
        color: $textsecondary;
    }
    &__text {
        &_grid {
            @include grid (1fr, auto, 0, 25px);
            @media (max-width: 991.9px) {
                row-gap: 20px;
            }
        }
        // &_bold {
        //     font-weight: 700;
        // }
        // &_right {
        //     justify-self: end;
        // }
        // &_padding {
        //     padding-left: 35px;
        // }
        // &_profit {
        //     display: flex;
        //     justify-content: flex-start;
        //     align-items: center;
        // }
    }
    &_padding {
        padding: 8px 10px 13px 21px;
    }
}