@import "./../../common/scss/common";
@import "./../../common/scss/normalize";
@import "./../../common/scss/variables";
@import "./../../common/scss/sidebar";
@import "./../../common/scss/font";
@import "./../../common/scss/header";
@import "./../../common/scss/form";
@import "./../../common/scss/nice-select";
.main-block {
    transition: padding 0.5s;
    &_padding {
        padding-top: 60px;
        padding-left: 70px;
        @media (max-width: 991.9px) {
            padding-left: 0;
        }
    }
}

.form__to-releases {
    @include fontSize(14, 20, normal);
}

.arrow-to-releases {
    margin-left: 11px;
}

.main-form {
    width: 61.4vw;
}

.form-header {
    &_margin {
        margin-bottom: 4.26vh;
    }
}

.grid {
    box-sizing: border-box;
    @include grid (1fr 1fr 190px, auto, 1.6vw, 3.7vh);
    @media (max-width: 1399.9px) {
        // width: 35.2vw;
    }
    @media (max-width: 991.9px) {
        // width: 64.3vw;
    }
    @media (max-width: 575.9px) {
        // width: 100%;
        //  grid-row-gap: 23px;
    }
}

.field_sublabel {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.field_release-name {
    //  grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.field_subtitle {
    //  grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.small-grid {
    box-sizing: border-box;
    grid-column: 1 / 3;
    @include grid(190px 190px 1fr, auto, 1.6vw, 3.7vh);
}

.field_cover {
    //  grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.button {
    @include fontSize14();
    font-weight: 400;
    width: 180px;
    @media (max-width: 575.9px) {
        width: 130px;
        &_small-padding {
            padding: 1px 4px 1px 4px;
        }
    }
    height: 52px;
    border-radius: 12px;
    border: 1px solid $white;
    background: $main-gradient;
    outline: none;
    &:hover {
        background: $light-gradient;
    }
    &:focus {
        @include focusInput();
    }
    &_pressed,
    &:active {
        @include focusInput();
        background: $dark-gradient;
    }
    &_cancel {
        background: $line;
    }
}

.two-buttons {
    grid-column: 1 / 3;
    @include grid(180px 180px, auto, 1.25vw, auto);
}

.input-wrapper {
    &_calendar {
        @media (max-width: 575.9px) {
            width: 170px;
        }
        &:after {
            right: 7px;
            bottom: 13.5px;
            background-image: url("./../images/calendar.svg");
        }
    }
    &_search {
        &:after {
            right: 7px;
            bottom: 13.5px;
            background-image: url("./../images/search.svg");
        }
    }
}