.form {
    box-sizing: border-box;
    @media (max-width: 991.9px) {
        border-radius: 0;
    }
    &_margin {
        margin-top: 2.7vh;
        margin-bottom: 40px;
        @media (max-width: 575.9px) {
            margin-bottom: 22px;
        }
    }
    &_padding {
        padding: 35px;
        @media (max-width: 575.9px) {
            padding: 20px;
        }
    }
    &__title {
        @include fontSize(20, 26, 600);
        text-align: left;
        @media (max-width: 991.9px) {
            text-align: center;
        }
        @media (max-width: 575.9px) {
            @include fontSize(14, 20, 700);
            text-align: left;
            font-weight: 700;
        }
        &_margin {
            margin-bottom: 26px;
            @media (max-width: 575.9px) {
                margin-bottom: 17px;
            }
        }
        &_desktop {
            @media (max-width: 991.9px) {
                display: none;
            }
        }
    }
    &__general-error {
        color: $red;
        @include fontSize(14, 20, 400);
        margin-bottom: 10px;
    }
}

.field {
    position: relative;
    &__label {
        color: $dark-gray;
        @include fontSize(11, 14, 500);
        text-transform: uppercase;
        margin-bottom: 6px;
        &_readonly {
            color: $light-gray;
        }
    }
    &__input_190px {
        width: 190px;
    }
    &__input_text {
        @include input();
        @include fontSize(14, 20, 400);
        &:active,
        &:focus {
            border-color: $light-gray;
            outline: none;
        }
        &:read-only {
            background-color: $main-bg;
            color: $input-disabled;
        }
        &::placeholder {
            color: $light-gray;
        }
        &_invalid {
            border-color: $red;
            color: $red;
        }
        &_filled {
            background-color: $line;
        }
    }
    &__textarea {
        box-sizing: border-box;
        @include textarea;
        @include fontSize(14, 20, 400);
        &:active,
        &:focus {
            @include focusInput;
        }
    }
    &__red-dot {
        color: $red;
        font-weight: 900;
        margin-left: 6px;
    }
    &__white-dot {
        color: $white;
        font-weight: 900;
        margin-left: 0;
    }
    &__question {
        -webkit-tap-highlight-color: transparent;
        position: relative;
        @include flexCenter(row);
        margin-left: 6px;
        text-align: center;
        border-radius: 50%;
        color: #ffffff;
        background-color: $light-green;
        height: 14px;
        width: 14px;
        font-size: 0.75rem;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            background-color: $green;
        }
        &:hover::after {
            z-index: 90;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            font-size: 0.8125rem;
            line-height: 1rem;
            font-weight: normal;
            width: 290px;
            height: 50px;
            position: absolute;
            top: -16px;
            left: 25px;
            content: attr(tooltip);
            text-align: left;
            text-transform: none;
            color: #000;
            background-color: white;
            border-radius: 12px;
            filter: drop-shadow(0px 4px 15px rgba(54, 88, 103, 0.1));
            pointer-events: none;
            padding-left: 20px;
            box-shadow: 0 4px 15px rgba(54, 88, 103, 0.1);
            @media (max-width: 575.9px) {
                display: none;
            }
        }
        &:hover::before {
            position: absolute;
            left: 15px;
            top: 3px;
            content: '';
            border-top: 5px solid transparent;
            border-right: 10px solid white;
            border-bottom: 5px solid transparent;
            z-index: 91;
            @media (max-width: 575.9px) {
                display: none;
            }
        }
    }
    &__error-email {
        margin-top: 3px;
        display: none;
        position: absolute;
        color: $red;
        top: 75px;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: normal;
        @media (max-width: 575.9px) {
            top: 75px;
            margin-top: 1px;
            font-size: 0.7rem;
            line-height: 0.8rem;
        }
    }
    &__error {
        margin-top: 3px;
        position: absolute;
        color: $red;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: normal;
        top: 100%;
        @media (max-width: 575.9px) {
            margin-top: 1px;
            font-size: 0.7rem;
            line-height: 0.8rem;
        }
    }
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    &:after {
        position: absolute;
        content: " ";
        width: 25px;
        height: 25px;
        right: 16px;
        bottom: 16px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.form-two-buttons {
    margin-top: 1vh;
    grid-column: 1 / 2;
    @include grid(180px 180px, auto, 1.25vw, auto);
    @media (max-width: 991.9px) {
        @include grid(180px 180px, auto, 20px, auto);
    }
    @media (max-width: 575.9px) {
        @include grid(130px 130px, auto, 20px, auto);
    }
}

.form-button {
    @include fontSize14();
    font-weight: 400;
    width: 180px;
    @media (max-width: 575.9px) {
        &_small-padding {
            padding: 1px 4px 1px 4px;
        }
    }
    height: 52px;
    border-radius: 12px;
    border: 1px solid $white;
    background: $main-gradient;
    outline: none;
    &:hover {
        background: $light-gradient;
    }
    &:focus {
        @include focusInput();
    }
    &_pressed,
    &:active {
        @include focusInput();
        background: $dark-gradient;
    }
    &_cancel {
        background: $line;
    }
}