@import 'variables';
.header {
    z-index: 99;
    height: 60px;
    border-bottom: 1px solid $line;
    width: 100%;
    &_fixed {
        position: fixed;
    }
    // @media (max-width: 991.9px) {
    //     display: none;
    // }
}

.header-tablet {
    &_padding {
        padding-right: 20px;
        padding-left: 20px;
    }
    display: none;
    @media (max-width: 991.9px) {
        display: flex;
        z-index: 99;
        height: 60px;
        border-bottom: 1px solid $line;
        &_fixed {
            width: 100%;
            position: fixed;
        }
    }
    &__hamburger {
        margin-right: 29px;
        cursor: pointer;
    }
    &__logo {
        @media (max-width: 575.9px) {
            display: none;
        }
    }
}