$black: #1A1A1A;
$light-green: #4CDBCA;
$green: #21BAA8;
$red: #F75B46;
$main-gradient: linear-gradient(270deg, #C0E8FF 0%, #D1FFD5 100%);
$light-gradient: linear-gradient(270deg, #CAECFF 0%, #E7FFE9 100%);
$dark-gradient: linear-gradient(270deg, #ABE0FF 0%, #ADFCB4 100%);
$white: #ffffff;
$light-gray: #B1BDBD;
$textLight: #B1BDBD;
$dark-gray: #768989;
$textsecondary: #768989;
$main-bg: #F7FAFB;
$input-bg: #F3F8FA;
$input-disabled: #CED6D6;
$line: #EBEFF2;
$shadow: 0px 4px 15px rgba(54, 88, 103, 0.1);