@import "./../../common/scss/variables";
.adding-sublabel-grid {
    width: 40.2vw;
    @include grid(190px 1fr, auto auto auto, 0, 20px);
    &__2column {
        grid-column: 1/3;
    }
    @media (max-width: 991.9px) {
        width: 73.4vw;
    }
    @media (max-width: 575.9px) {
        width: 100vw;
        border-radius: 0;
        @include grid(1fr, auto auto auto auto, 0, 20px);
    }
}