@import "./../../common/scss/variables";
.all-items-table_all-sublabels {
    box-sizing: content-box;
    @include grid(1fr, auto, 0, 10px);
    width: 41vw;
    @media (max-width: 1399.9px) {
        width: 520px;
    }
    @media (max-width: 991.9px) {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: 575.9px) {
        display: none;
    }
}

.all-items-table-header_all-sublabels {
    @include grid (1fr 9.4vw 28px, auto, 0, 0);
    @media (max-width: 991.9px) {
        @include grid (1fr 150px 28px, auto, 0, 0);
    }
}

.all-items-table-row-wrapper_all-sublabels {
    margin-left: 0;
    margin-right: 0;
}

.all-items-table-row_all-sublabels {
    @include grid (1fr 9.4vw 28px, auto, 0, 0);
    @media (max-width: 991.9px) {
        @include grid (1fr 150px 28px, auto, 0, 0);
    }
    .all-items-table-row__cell {
        &:last-child::after,
        &:nth-last-child(2)::after {
            border-right: 1px solid transparent;
        }
    }
}