@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter-Regular.woff);
}

body {
    font-family: "Inter", "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.6rem;
    font-weight: 500;
    color: #1A1A1A;
    background-color: #F3F8FA;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
    background-color: white;
    margin-top: 0;
    border-bottom: 1px solid #EBEFF2;
    z-index: 100;
}

.logo {
    display: none;
}

.hamburger-menu,
.avatar {
    display: block;
}

.avatar {
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 50px;
}


/* скрываем чекбокс */

#menu__toggle {
    opacity: 0;
}


/* стилизуем кнопку */

.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
    align-items: center;
    /* центрируем содержимое кнопки */
    position: fixed;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}


/* добавляем "гамбургер" */

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #1A1A1A;
}

.menu__btn>span::before {
    content: '';
    top: -6px;
    /* background-color: red; */
    background-color: #1A1A1A;
}

.menu__btn>span::after {
    content: '';
    top: 6px;
    width: 50%;
    /* background-color:  green; */
    background-color: #1A1A1A;
}


/* контейнер меню */

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}


/* элементы меню */

.menu__list {
    list-style: none;
    text-align: left;
    padding: 0;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #1A1A1A;
    font-size: 0.8125rem;
    line-height: 1rem;
    font-weight: 400;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

.menu__item img {
    margin-right: 20px;
}

#menu__toggle:checked~.menu__btn>span {
    transform: translateX(150px);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(-45deg) translate(-2px, -6px) scaleX(0.5);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(45deg) translate(3px, 3px);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

main .wrapper {
    width: 95%;
    margin: 0 auto 30px auto;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .cover {
    display: none;
}

main .cover-mobile {
    display: flex;
}

main .cover-mobile img {
    display: block;
}

.h2 {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 20px auto;
}

main .text {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
}

main .text p {
    margin: 0;
    line-height: 1.375rem;
    font-size: 0.875rem;
}

.request {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(54, 88, 103, 0.1);
}

.request .steps-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #21BAA8;
    margin: 12px 20px 0 20px;
}

.pages-mobile {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.next-step-tablet {
    display: none;
    text-decoration: none;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 500;
    color: #21BAA8;
}

.next-step-tablet img {
    margin-left: 10px;
}

.next-step-mobile {
    display: flex;
    text-decoration: none;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 500;
    color: #21BAA8;
}

.next-step-mobile img {
    margin-left: 10px;
}

.steps {
    display: none;
}

.progress-bar {
    content: '';
    height: 6px;
    width: 100%;
    background-color: transparent;
    display: flex;
}

.progress-bar .passed {
    width: calc(100%/6);
    content: '';
    background: linear-gradient(270deg, #C0E8FF 0%, #D1FFD5 100%);
}

.request {
    padding-bottom: 36px;
}

.request .wrapper {
    width: 90%;
    margin: 17px auto 0 auto;
    position: relative;
}

.h3 {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 17px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.field:first-child,
.field:nth-child(2) {
    margin-bottom: 30px;
}

.request label {
    color: #768989;
    font-size: 0.6875rem;
    line-height: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.red-dot {
    position: relative;
    color: red;
    font-weight: 900;
}

.question {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: #21BAA8;
    height: 14px;
    width: 14px;
    font-weight: bold;
    cursor: pointer;
}

.question:hover::after {
    display: none;
}

.question:hover::before {
    display: none;
}

.popup__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    text-align: center
}


/* Added for IE<9 compatibility */

.popup__overlay_ie {
    background: #000;
    opacity: .7;
    filter: alpha(opacity=70)
}

.popup {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 12px 12px 0px 0px;
    outline: 0;
    padding: 40px 20px;
    box-sizing: border-box;
}

.popup__content {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 0.812rem;
    line-height: 1rem;
}

.popup__close {
    color: #768989;
    position: absolute;
    top: 14px;
    right: 17px;
    font-size: 2rem;
    font-weight: 700;
    opacity: .5;
    text-decoration: none;
}

.popup__close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

.request input {
    background-color: #F3F8FA;
    border-radius: 12px;
    height: 52px;
    border: 1px solid transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    box-sizing: content-box;
    padding-left: 22px;
}

.request input:active,
.request input:focus {
    border: 1px solid #21BAA8;
    outline: none;
    border-radius: 12px;
    box-sizing: content-box;
}

.warning {
    display: none;
    box-sizing: border-box;
    padding: 5px 10px;
    position: absolute;
    color: #F75B46;
    border: 1px solid #F75B46;
    border-radius: 12px;
    bottom: -35px;
    left: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.request-bottom {
    display: none;
}

.request-bottom-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.next-step {
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(270deg, #C0E8FF 0%, #D1FFD5 100%);
    border-radius: 12px;
    text-decoration: none;
    color: #1A1A1A;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.next-step img {
    margin-left: 22px;
}

.next-step p {
    margin-right: 42px;
    font-weight: 500;
}

.copyright {
    text-align: center;
    color: #B1BDBD;
    font-size: 0.6875rem;
    line-height: 0.875rem;
    margin: 25px auto;
}