@font-face {
    font-family: Inter;
    src: url(../../fonts/Inter-Regular.woff);
}

body {
    font-family: "Inter", "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.6rem;
    font-weight: 500;
    color: #1A1A1A;
    background-color: #F3F8FA;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #EBEFF2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 26px;
    background-color: white;
    margin-top: 0;
}

.hamburger-menu,
.avatar {
    display: none;
}

main .wrapper {
    width: 95%;
    margin: 0 auto 30px auto;
    display: flex;
    padding-top: 90px;
}

.cover-mobile {
    display: none;
}

main .cover img {
    display: block;
}

.h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
}

main .text {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
}

main .text p {
    margin: 13px 0 0 0;
    line-height: 1.375rem;
}

.request {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 15px rgba(54, 88, 103, 0.1);
}

.steps-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #21BAA8;
    margin: 24px 20px 18px 20px;
}

.pages-mobile {
    font-size: 1.25rem;
    line-height: 1.65rem;
    font-weight: 600;
}

.next-step-mobile {
    display: none;
}

.next-step-tablet {
    display: flex;
    text-decoration: none;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 500;
    color: #21BAA8;
}

.next-step-tablet img {
    margin-left: 10px;
}

.steps {
    display: none;
}

.progress-bar {
    content: '';
    height: 6px;
    width: 100%;
    background-color: transparent;
    display: flex;
}

.progress-bar .passed {
    width: calc(100%/6);
    content: '';
    background: linear-gradient(270deg, #C0E8FF 0%, #D1FFD5 100%);
}

.request {
    padding-bottom: 36px;
}

.request .wrapper {
    width: 60%;
    margin: 34px auto 0 auto;
    position: relative;
}

.h3 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-bottom: 26px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
}

.field:last-child {
    margin-bottom: 0px;
}

.request label {
    color: #768989;
    font-size: 0.6875rem;
    line-height: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.red-dot {
    color: red;
    font-weight: 900;
}

.question {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: #21BAA8;
    height: 14px;
    width: 14px;
    font-weight: bold;
    cursor: pointer;
}

.question:hover::after {
    width: 290px;
    height: 50px;
    position: absolute;
    top: -16px;
    left: 25px;
    content: attr(tooltip);
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8125rem;
    line-height: 1rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: white;
    border-radius: 12px;
    filter: drop-shadow(0px 4px 15px rgba(54, 88, 103, 0.1));
    pointer-events: none;
    padding-left: 20px;
    box-shadow: 0px 4px 15px rgba(54, 88, 103, 0.1);
}

.question:hover::before {
    position: absolute;
    left: 15px;
    top: 3px;
    content: '';
    border-top: 5px solid transparent;
    border-right: 10px solid white;
    border-bottom: 5px solid transparent;
    z-index: 1;
}

.popup__overlay {
    display: none;
}

.request input {
    background-color: #F3F8FA;
    border-radius: 12px;
    height: 52px;
    border: 1px solid transparent;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    box-sizing: content-box;
    padding-left: 22px;
}

.request input:active,
.request input:focus {
    border: 1px solid #21BAA8;
    outline: none;
    border-radius: 12px;
    box-sizing: content-box;
}

.warning {
    display: none;
    box-sizing: border-box;
    padding: 5px 5px;
    position: absolute;
    color: #F75B46;
    border: 1px solid #F75B46;
    border-radius: 12px;
    bottom: -35px;
    left: 0px;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.request-bottom {
    display: none;
}

.request-bottom-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.next-step {
    width: 200px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(270deg, #C0E8FF 0%, #D1FFD5 100%);
    border-radius: 12px;
    text-decoration: none;
    color: #1A1A1A;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.next-step:focus,
.next-step:active {
    border: 1px solid #21BAA8;
    border-radius: 12px;
    outline: none;
}

.next-step img {
    margin-left: 22px;
}

.next-step p {
    margin-right: 42px;
    font-weight: 500;
}

.request-bottom-mobile .next-step {
    width: 138px;
    height: 36px;
    font-size: 0.8125rem;
    line-height: 1rem;
}

.request-bottom-mobile .next-step img {
    margin-right: 10px;
}

.request-bottom-mobile .next-step p {
    margin-right: 17px;
}

.copyright {
    text-align: center;
    color: #B1BDBD;
    font-size: 0.6875rem;
    line-height: 0.875rem;
    margin: 25px auto;
}