@import "./../../common/scss/variables";
.main-info {
    width: 100%;
    justify-self: flex-start;
    &_padding {
        padding: 33px 34px 30px 37px;
        @media (max-width: 991.9px) {
            padding: 23px 20px 34px 20px;
        }
        @media (max-width: 575.9px) {
            padding: 23px 20px 28px 20px;
        }
    }
    @include grid(auto 1fr auto, auto auto, 26px, 20px);
    @media (max-width: 991.9px) {
        width: 100vw;
        @include grid(auto 1fr, auto auto, 26px, 20px);
    }
}

.avatar {
    position: relative;
    @media (max-width: 991.9px) {
        width: 84px;
        height: 84px;
    }
    &__photo {
        display: block;
        @media (max-width: 991.9px) {
            width: 84px;
            height: 84px;
        }
    }
    &__add {
        position: absolute;
        right: 0;
        bottom: 0;
        @media (max-width: 575.9px) {
            width: 24px;
            height: 24px;
        }
    }
    &__add-img {
        display: block;
        @media (max-width: 575.9px) {
            width: 24px;
            height: 24px;
        }
    }
    &_margin {
        margin-right: 26px;
        @media (max-width: 575.9px) {
            margin-right: 15px;
        }
    }
}

.user-full-name {
    &__profile {
        font-family: "Inter-Bold", "PT Sans", "Arial", sans-serif;
        @include fontSize14();
        color: $dark-gray;
        @media (max-width: 575.9px) {
            font-family: "Inter", "PT Sans", "Arial", sans-serif;
            @include fontSize13();
            line-height: 1.25rem;
            font-weight: 500;
        }
    }
    &__full-name {
        @include fontSize20();
        @media (max-width: 575.9px) {
            font-family: "Inter-Bold", "PT Sans", "Arial", sans-serif;
            font-size: 0.8125rem;
            line-height: 1.125rem;
        }
    }
}

.logout-form_desktop {
    @media (max-width: 991.9px) {
        display: none;
    }
}

.log-out {
    text-decoration: none;
    color: $black;
    @include fontSize13();
    -webkit-tap-highlight-color: transparent;
    border: 1px solid transparent;
    background-color: transparent;
    &:focus,
    &:active {
        @include focusInput();
        border: 1px solid transparent;
    }
    &__img {
        height: 14px;
        margin-right: 9px;
    }
    &_desktop {
        display: flex;
        @media (max-width: 991.9px) {
            display: none;
        }
    }
    &_tablet {
        display: none;
        @media (max-width: 991.9px) {
            margin-bottom: 20px;
            display: flex;
        }
        @media (max-width: 575.9px) {
            display: flex;
        }
    }
}

.tabs_profile {
    @include grid (min-content min-content, auto, 42px, 0);
    height: 30px;
    //padding-left: 37px;
    @media (max-width: 991.9px) {
        //padding-left: 20px;
    }
    grid-column: 1 / 4;
}

.form_profile {
    width: 450px;
    margin-bottom: 40px;
    @media (max-width: 991.9px) {
        border-radius: 12px;
    }
    @media (max-width: 575.9px) {
        width: 100vw;
        border-radius: 0;
        margin-bottom: 22px;
    }
}

.profile-grid {
    @include grid(1fr, auto, 0, 20px);
}

.form_login {
    justify-self: center;
}

.profile-form-buttons {
    margin-top: 1vh;
    //grid-column: 1 / 2;
    @include grid(1fr 1fr, auto, 1.25vw, 0);
    // @media (max-width: 991.9px) {
    //     @include grid(180px 180px, auto, 20px, auto);
    // }
    @media (max-width: 575.9px) {
        @include grid(1fr 1fr, auto, 20px, 0);
    }
}

.btn_profile {
    height: 52px;
    @media (max-width: 575.9px) {
        padding: 1px 4px 1px 4px;
    }
}

.btn_cancel {
    background: $line;
}

.field_remember {
    /*"родной" инпут не скрывается полностью, чтобы остатсья доступным для фокуса*/
    .field__input_checkbox {
        opacity: 0;
        width: 1px;
        height: 1px;
    }
    .input-wrapper {
        height: 52px;
    }
    .field__input_checkbox~label::before {
        transition: all 0.2s;
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 8px;
        vertical-align: middle;
        background: #EBEFF2;
        border-radius: 4px;
    }
    .field__input_checkbox:checked+label::before {
        transition: all 0.2s;
        background-color: #21BAA8;
        background-image: url("./../images/white_check_mark.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .field__input_checkbox:focus+label::before {
        border: 1px solid $light-gray;
        outline: none;
    }
}