@import "src/common/scss/common.scss";
@import "src/common/scss/normalize.scss";
@import "variables";
// @import "src/common/scss/header.scss";
// @import "src/common/scss/footer.scss";
@import "src/common/scss/font.scss";
// @font-face {
//     font-family: Inter;
//     src: url('./fonts/Inter-Regular.woff');
// }
// div,
// ul,
// li,
// form {
//     border: 1px solid #000;
// }
.body {
    font-family: "Inter", "PT Sans", "Arial", sans-serif;
    @include fontSize14();
    font-size: 16px;
    line-height: 16px;
    color: $black;
    background-color: $main-bg;
    width: 100%;
    // max-height: 1100px;
    // height: 1500px;
}

.flex-row {
    @include flex(row);
    &_adaptive-width {
        flex: 1 0;
    }
    &_center_vertical {
        align-items: center;
    }
    &_top_vertical {
        align-items: flex-start;
    }
    &_between {
        justify-content: space-between;
    }
    &_center {
        justify-content: center;
    }
}

.flex-column {
    @include flex(column);
    &_adaptive-width {
        flex: 1 0;
    }
    &_center_vertical {
        justify-content: center;
    }
}

.block {
    background-color: $white;
    margin: 0;
    &__rounded {
        @include boxRaduisShadow();
    }
}

.sidebar {
    position: fixed;
    z-index: 100;
    box-shadow: $shadow;
    width: 226px;
    // min-height: 800px;
    // max-height: 1000px;
    height: 800px;
    box-sizing: border-box;
    &_padding {
        padding-left: 26px;
        padding-right: 13px;
    }
    &_hidden {
        display: none;
    }
    &-footer {
        position: absolute;
        bottom: 0;
        color: $light-gray;
        @include fontSize11();
        border-top: 1px solid $line;
        &__copyright {
            margin-top: 10px;
            margin-bottom: 11px;
        }
        &__developed {
            margin-bottom: 13px;
        }
    }
    &_collapsed {
        width: 70px;
    }
    &_to-collapse,
    &_to-expand {
        cursor: pointer;
    }
    // &_slide-right {
    //     animation: slideRight 0.5s;
    // }
    // &_slide-left {
    //     animation: slideLeft 0.5s;
    // }
}

// @keyframes slideRight {
//     from {
//         transform: translateX(-150%);
//     }
//     to {
//         transform: translateX(0%);
//     }
// }
// @keyframes slideLeft {
//     from {
//         transform: translateX(0%);
//     }
//     to {
//         transform: translateX(-150%);
//     }
// }
.header {
    z-index: 99;
    height: 60px;
    border-bottom: 1px solid $line;
    // &_padding {
    //     padding-left: 106px;
    //     padding-right: 106px;
    // }
    &_fixed {
        width: 100%;
        position: fixed;
    }
}

.user {
    &__avatar {
        margin-right: 14px;
    }
    &__name {
        @include fontSize13();
    }
}

.search-form {
    border: none;
    color: $black;
    position: relative;
    &_margin {
        margin-left: 76px;
    }
    &__input {
        border-radius: 12px;
        height: 42px;
        border: 1px solid transparent;
        padding-left: 34px;
        @include fontSize13();
        &:focus,
        &:active {
            @include focusInput();
        }
    }
    &::placeholder {
        color: $light-gray;
    }
    &__button {
        padding: 4px;
        position: absolute;
        border: 1px solid transparent;
        background-color: $white;
        left: 4px;
        top: 9px;
        &:focus,
        &:active {
            @include focusInput();
            border-radius: 5px;
        }
    }
}

.user {
    @include fontSize13();
    &_margin {
        margin-right: 36px;
    }
}

.ul {
    list-style: none;
    padding-left: 0;
    &-sidebar {
        &_margin-top {
            margin-top: 27px;
        }
        &_margin-bottom {
            margin-bottom: 36px;
        }
    }
}

.li-sidebar {
    -webkit-tap-highlight-color: transparent;
    height: 40px;
    &:hover,
    &_active {
        background: $main-gradient;
    }
    &_padding {
        padding-left: 26px;
        padding-right: 13px;
    }
    &_no-margin-bottom {
        margin-bottom: 0;
    }
    &__link {
        cursor: pointer;
        text-decoration: none;
        color: $black;
        @include fontSize13();
    }
    &__img {
        align-self: start;
        display: block;
        margin-right: 21px;
        height: 18px;
    }
    &__requests-count {
        width: 18px;
        height: 18px;
        border-radius: 5px;
        background-color: $line;
        color: $dark-gray;
        @include fontSize12();
        @include flexCenter(row);
    }
    &__expand {
        @include flexCenter(row);
    }
    &__add {
        width: 22px;
        height: 22px;
        background-color: $white;
        @include flexCenter(row);
        color: $black;
        border-radius: 5px;
    }
    &_profit,
    &_settings {
        display: none;
    }
    &_img-width {
        width: 18px;
    }
    &_img-height {
        height: 40px;
    }
}

.main-block {
    &_padding {
        padding-top: 60px;
        padding-left: 70px;
    }
}

.main-info {
    &_padding {
        padding: 33px 34px 30px 37px;
    }
}

.avatar {
    position: relative;
    &__add {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &_margin {
        margin-right: 26px;
    }
}

.user-name {
    &__profile {
        @include fontSize14();
        color: $dark-gray;
    }
    &__full-name {
        @include fontSize20();
    }
}

.log-out {
    text-decoration: none;
    color: $black;
    @include fontSize13();
    &__img {
        margin-right: 9px;
    }
}

.tabs {
    color: $dark-gray;
    @include fontSize14();
    flex-wrap: nowrap;
    &_margin {
        margin-left: 36px;
    }
    &>* {
        width: 140px;
        text-align: center;
    }
    &_active {
        color: $black;
        font-weight: 600;
        border-bottom: 2px solid skyblue;
        border-image: $main-gradient;
        border-image-slice: 1;
    }
}

.main-form {
    width: 450px;
    box-sizing: border-box;
    &_margin {
        margin-top: 29px;
        margin-bottom: 44px;
    }
    &_padding {
        padding: 31px 34px 36px 35px;
    }
    &__label {
        color: $dark-gray;
        @include fontSize11();
        text-transform: uppercase;
        margin-bottom: 6px;
        &_readonly {
            color: $light-gray;
        }
    }
    &__input {
        &_margin {
            margin-bottom: 26px;
        }
        @include input();
        @include fontSize14();
        &:active,
        &:focus {
            @include focusInput();
        }
        &:read-only {
            background-color: $main-bg;
            color: $input-disabled;
        }
        &::placeholder {
            color: $light-gray;
        }
    }
}

.button {
    width: 180px;
    height: 52px;
    border-radius: 12px;
    border: 1px solid transparent;
    background: $main-gradient;
    outline: none;
    &:hover {
        background: $light-gradient;
    }
    &:focus {
        @include focusInput();
    }
    &_pressed,
    &:active {
        @include focusInput();
        background: $dark-gradient;
    }
    &_cancel {
        background: $line;
    }
}